---
import Form from "./Form.astro";
---
<div class="flex flex-col gap-2">
  <div class="bg-greena1 bg-opacity-70 rounded-3xl h-full ">

  </div>
  <div class="bg-greena1 bg-opacity-90  rounded-3xl p-8 text-xl text-white">
    <Form />
  </div>
</div>
