<div
  id="pricing"
  class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-6 col-span-full scroll-mt-24">
  <section
    class="col-span-full xl:col-span-2 bg-filosofia bg-opacity-90 flex flex-col justify-between rounded-3xl h-full text-black p-8">
    <div>
      <div>
        <p
          class="text-2xl sm:text-5xl xl:text-5xl tracking-tighter text-white font-display">
          Filosofía
        </p>
      </div>
      <p class="text-base 2xl:text-xl text-gray-200 lg:mt-8 mt-4">
        La Filosofía ha sido siempre una búsqueda de la verdad espiritual, un proceso de profundización en los conocimientos sobre la naturaleza, sobre el ser humano y el universo. Cada acto de búsqueda es a la vez un ejercicio de libertad de conciencia que se enfrenta a la ignorancia, el desconcierto y los prejuicios que impiden la reflexión serena y profunda.
      </p>
    </div>
    <div>
      <p class="text-2xl text-white">1 spots available</p>
      <div class="border-t flex flex-col pt-4 mt-4">
        <span class="text-lg text-gray-200 font-normal">
          Project management with <span class="italic text-white font-medium"
            >Breeew</span
          >, secure payments with <span class="italic text-white font-medium"
            >Stripe</span
          > and the freedom of
          <span class="italic text-white font-medium">
            Canceling your subscription anytime:</span
          >
        </span>
      </div>
    </div>
  </section>
  <section
    class="bg-cultura bg-opacity-90 duration-300 flex flex-col xl:col-span-2 justify-between rounded-3xl h-full text-black p-8">
    <div>
      <div>
        <p
          class="text-2xl sm:text-5xl xl:text-5xl tracking-tighter text-white font-display">
          Cultura
        </p>
      </div>
      <p class="text-base 2xl:text-xl text-gray-200 lg:mt-8 mt-4">
        Flexible pricing to enhance your online presence at every stage.
      </p>
    </div>
    <div>
      <p class="text-2xl text-white">1 spots available</p>
      <div class="border-t flex flex-col pt-4 mt-4">
        <span class="text-lg text-gray-200 font-normal">
          Project management with <span class="italic text-white font-medium"
            >Breeew</span
          >, secure payments with <span class="italic text-white font-medium"
            >Stripe</span
          > and the freedom of
          <span class="italic text-white font-medium">
            Canceling your subscription anytime:</span
          >
        </span>
      </div>
    </div>
  </section>
  <section
    class="bg-voluntariado bg-opacity-90 flex flex-col xl:col-span-2 justify-between rounded-3xl h-full text-black p-8">
    <div>
      <div>
        <p
          class="text-2xl sm:text-5xl xl:text-5xl tracking-tighter text-white font-display">
          Voluntariado
        </p>
      </div>
      <p class="text-base 2xl:text-xl text-gray-200 lg:mt-8 mt-4">
        Flexible pricing to enhance your online presence at every stage.
      </p>
    </div>
    <div>
      <p class="text-2xl text-white">1 spots available</p>
      <div class="border-t flex flex-col pt-4 mt-4">
        <span class="text-lg text-gray-200 font-normal">
          Project management with <span class="italic text-white font-medium"
            >Breeew</span
          >, secure payments with <span class="italic text-white font-medium"
            >Stripe</span
          > and the freedom of
          <span class="italic text-white font-medium">
            Canceling your subscription anytime:</span
          >
        </span>
      </div>
    </div>
  </section>
</div>
