<div
  class="items-center justify-center w-full flex flex-col p-8 bg-gray-200 rounded-3xl shrink-0 snap-start opacity-100
  role="
  option"
  x-bind="disableNextAndPreviousButtons" >
  <div
    x-on:click.stop=""
    x-trap.noscroll.inert="open"
    class="relative w-full max-w-lg overflow-hidden border border-gray-300 shadow-2xl rounded-3xl"
  >
    <div class="bg-gray-50 rounded-3xl ">
      <div>
        <img src="/Recorrido-Filosofia.jpg" alt="test" id="mdal" data-mdal/>
        <div id="myModal" class="modal">
          <span class="close" onclick="closeModal()" data-mdal-close >&times;</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function openModal() {
    var modal = document.getElementById('myModal');
    var modalImg = document.getElementById('img01');
    var captionText = document.getElementById('caption');
    modal.style.display = "block";
    modalImg.src = "/Recorrido-Filosofia.jpg";
    captionText.innerHTML = "asd";
  }

  const buttons = document.querySelectorAll('[data-mdal]');
  const buttonsclose = document.querySelectorAll('[data-mdal-close]');

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener('click', () => openModal());
  });
  buttonsclose.forEach((button) => {
    button.addEventListener('click', () => closeModal());
  });


  function closeModal() {
    var modal = document.getElementById('myModal');
    modal.style.display = "none";
  } 
</script>